.dashboard-table {
  overflow-x: auto;

  table {
    border-radius: 4px;
    box-shadow: 0 2px 14px 0 #dee2ee;
    border-style: hidden;
    width: 100%;
  }

  .sort-table {
    position: absolute;
    right: 12px;
  }

  .sort-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid #000;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  .sort-down {
    margin-top: 4px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid #000;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  thead {
    background-color: #f5f6fa;
    font-family: 600;
    font-size: 16px;
    text-transform: capitalize;
  }

  tbody {
    background-color: #ffffff;
  }

  th,
  td {
    text-align: left;

    .th-content,
    .td-content {
      position: relative;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 100%;
    }
  }
}

.dashboard-pagination {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;

  button {
    height: 50px;
    background-color: unset;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    color: #000;

    &:first-child {
      margin-right: 24px;
    }

    &.disabled {
      color: #adadad;
    }
  }
}
